.flex-row__flex-start {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.flex-column__center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flex-row_space-between {
    display: flex;
    justify-content: space-between;
}

.container__facilties_groups {
    width: 50%;
}

.container__facilties_groups__table {
    box-shadow: 0px 10px gray;
    margin: 25px;
}

.target {
    transform: scale(1.25);
    color: green;
}

.card {
    box-shadow: 5px 5px 5px 5px gray;
    padding: 25px;
    margin: 25px;
}

.space {
    margin: 20px;
}

.data-1 {
    margin: 10px;
    width: 125px;
}