.flex-row__flex-start {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.container__facilties_groups {
    width: 50%;
}

.container__facilties_groups__table {
    box-shadow: 0px 10px gray;
    margin: 25px;
}

.target {
    transform: scale(1.25);
    color: green;
}