@model IndividualPlanOnTerm

@Html.DropDownList("monthsId", ViewBag.Months as SelectList, new { @class = "btn btn-secondary dropdown-toggle space" })
@Html.DropDownList("planTimeTypesId", ViewBag.PlanTimeTypes as SelectList, new { @class = "btn btn-secondary dropdown-toggle space" })
@Html.DropDownList("subjectsId", ViewBag.Subjects as SelectList, new { @class = "btn btn-secondary dropdown-toggle space" })
<div class="flex-row_space-between">
    <div><strong>Всего</strong></div>
    <div><strong>Нагрузка</strong></div>
    <div><strong>Группы</strong></div>
</div>
<div class="flex-row__flex-start">
    <div id="result-5"></div>
    <div id="result-3"></div>
    <div id="result-4"></div>
</div>